* {
    background-color: black;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-weight: lighter;
    color: white;
}

#heading {
    position: relative;
    left: 45%;
    color: #d19a66;
}

#descb {
    position: relative;
    left: 40%;
}

#prompt {
    position: absolute;
    left: 40%;
    top: 25%;
    width: 600px;
    font-size: large;
}

#prompttext {
    font-size: large;
}

#response {
    position: absolute;
    top: 45%;
    left: 28%;
    border: 1px solid yellow;
    border-radius: 30px;
    border-image: repeating-linear-gradient(
        90deg,
        yellow 0px, yellow 10px,
        black 10px, black 20px
    ) 20;
    width: 720px;
    min-height: 100px;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.4rem;
}

#home {
    position: absolute;
    top: 1%;
    left: 96%;
    font-size: large;
    text-decoration: none;
}

#home:hover {
    color: #61afef;
}
