@font-face {
    font-family: shak;
    src: url('Wasted-Vindey.ttf');
}

body {
    font-family: shak;
    background-color: #121212; 
    color: rgb(149, 16, 8);
    margin: 0;
    padding: 0;
}

#title {
    position: relative;
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(149, 16, 8);
    margin-bottom: 1rem;
    left: 4.5%;
}

#image {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

#caption {
    position: relative;
    left: 1%;
    font-size: 1.3rem;
    color: rgb(149, 16, 8);
}

#instructions {
    position: relative;  
    top: 10px;          
    left: 10px;        
    font-size: 1.4rem;
    text-align: right;
    max-width: 300px;   
    line-height: 1.5;   
}

#prompt {
    position: absolute;
    top: 6px;
    right: 170px;
    font-size: 1.4rem;
    margin: 2rem auto;
    max-width: 300px;
    text-align: center;
}

#bin {
    position: absolute;
    top: 45px;
    right: 40px;
}

#pin {
    position: relative;
    margin-bottom: 10px; 
    margin-top: -20px; /*moves the text up*/
    text-align: left;
    font-size: 30px;
    right: 140px;
    z-index: 1; 
}

#promptinput {
    position: relative; 
    display: flex;
    flex-direction: row; 
    justify-content: flex-start;
    align-items: center;
    z-index: 0;
}

#promptinput form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 170%; 
}

#promptinput input {
    font-family: shak;
    font-size: 26px; 
    border: none; 
    border-radius: 10px; 
    background-color: grey; 
    padding: 10px;
    width: 200%;
    box-sizing: border-box;
    margin-right: 10px; 
    z-index: 0; 
}

#promptinput button {
    font-family: shak;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(149, 16, 8);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#promptinput button:hover {
    background-color: rgb(200, 50, 40);
}

#response {
    position: absolute;
    top: 240px;
    left: 640px;
    border: 1px solid yellow;
    border-radius: 10px;
    width: 720px;
    min-height: 100px;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1.4rem;
}

#copy {
    position: absolute;
    z-index: 1;
}

#cbut {
    position:absolute;
    top:-770px;
    left: 1260px;
    background-color: #333333;
    color: red;
    border-radius: 10px;
    font-size: 18px;
    height: 25px;
    width: 80px;
    text-align: center;
    z-index: 900;
}

#info {
    position: absolute;
    top: 1500px;
}